<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/grid.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"></script>
    <title>Listado de Películas </title>
</head>

<body>
    <header>
            <nav>
                    <div class="nav-bar">
                        <div class="row nav">
                            <div class="nav-element">
                                <h1><a href="/peliculas/fecha">Listado de Películas</a></h1>
                            </div>
                            <div class="nav-element buscar-por">
                                <h3>Buscar por </h3>
                                <select class="select" onchange="window.open(this.value,'_self');">
                                    <option selected value="/peliculas/fecha">Fecha Agregada</option>
                                    <option value="/peliculas/titulo">Título</option>
                                    <option value="/peliculas/director">Director</option>
                                    <option value="/peliculas/categoria">Categoría</option>
                                </select>
                            </div>
        
                            <div class="agregar-pelicula nav-element">
                                <a href="/peliculas/agregar-pelicula" class="btn">Agregar Película</a>
                            </div>
                        </div>
                    </div>
                </nav>
    </header>

    <div class="row">
        <div class="detallePelicula">
            <div class="izq">
    
                <div class="detalles">
                    <div class="flex">
                        <h4>Título: &nbsp; </h4>
                        <h2><%= pelicula[0].titulo %></h2>
                    </div>
                    <div class="flex">
                        <h4>Duración: &nbsp; </h4>
                        <h2><%= pelicula[0].duracion %></h2>
                    </div>
                    <div class="flex">
                        <h4>Director: &nbsp; </h4>
                        <h2><%= pelicula[0].director %></h2>
                    </div>
                    <div class="flex">
                        <h4>Categoría: &nbsp; </h4>
                        <h2><%= pelicula[0].categoria %></h2>
                    </div>
                    <div class="flex">
                        <h4>Protagonistas: &nbsp; </h4>
                        <div class="flex2">
                            <% for (let protagonista of pelicula[0].protagonistas) { %>
                            <h2><%= protagonista %></h2>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="botones">
                    <a class="btn2" href="/peliculas/editar-pelicula/<%= pelicula[0]._id %>">Editar</a>
                    <a class="btn2 rojo" href="/peliculas/borrar-pelicula/<%= pelicula[0]._id %>">Borrar</a>
                </div>
    
    
    
            </div>
            <div class="derecha">
                <img class="poster" src="<%= pelicula[0].img %>" alt="poster de la pelicula">
            </div>

        </div>

    </div>




</body>

</html>