<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap" rel="stylesheet">
    <!--por error de css mandandose como html -->
    <%- include('includes/cssStyles.ejs') %>
    <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Editar Películas</title>
</head>

<body>
    <header>
            <nav>
                    <div class="nav-bar">
                        <div class="row nav">
                            <div class="nav-element">
                                <h1><a href="/peliculas/fecha">Listado de Películas</a></h1>
                            </div>
                            <div class="nav-element buscar-por">
                                <h3>Editar Película</h3>
                            </div>
        
                            <div class="agregar-pelicula nav-element">
                                <a href="/peliculas/agregar-pelicula" class="btn">Agregar Película</a>
                            </div>
                        </div>
                    </div>
                </nav>
    </header>


    <section class="row">



        <div class="row">
            <div class="agregar">
                <% if (error != '') { %>
                    <h2 style="color: red; text-align: center;"><%= error %></h2>
                <% } %>
                    <form action="/peliculas/guardar-pelicula/<%=pelicula[0]._id %>" method="POST">
                        <div class="row">
                            <label class="col span-1-of-3" for="titulo">Título:</label>
                            <input class="col span-2-of-3 search-bar" type="text" id="titulo" name="titulo" required
                            value="<%= pelicula[0].titulo %>">
                        </div>
                        <div class="row">
                            <label class="col span-1-of-3" for="duracion">Duración:</label>
                            <input class="col span-2-of-3 search-bar" type="number" id="duracion" name="duracion"
                            value="<%= pelicula[0].duracion %>" min="1" required>
                        </div>
                        <div class="row">
                            <label class="col span-1-of-3" for="categoria">Categoria:</label>
                            <select class="col span-2-of-3 search-bar" id="categoria" name="categoria"
                                placeholder="<%= pelicula[0].categoria %>">
                                <% if (pelicula[0].categoria == 'Acción')  { %>
                                <option selected value="Acción">Acción</option>
                                <% } else { %>
                                <option value="Acción">Acción</option>
                                <% } %>

                                <% if (pelicula[0].categoria == 'Amor')  { %>
                                <option selected value="Amor">Amor</option>
                                <% } else { %>
                                <option value="Amor">Amor</option>
                                <% } %>

                                <% if (pelicula[0].categoria == 'Terror')  { %>
                                <option selected value="Terror">Terror</option>
                                <% } else { %>
                                <option value="Terror">Terror</option>
                                <% } %>                 
                            </select>
                        </div>
                        <div class="director row">
                            <label class="col span-1-of-3" for="director">Director:</label>
                            <input class="col span-2-of-3 search-bar" type="text" id="director" name="director" required
                                value="<%= pelicula[0].director %>">
                        </div>

                        <div class="protagonistas row">
                            <label class="col span-1-of-3" for="protagonistas">Protagonistas:</label>
                            <input class="col span-2-of-3 search-bar" type="text" id="protagonistas" name="protagonistas" required value="<%= pelicula[0].protagonistas[0] %>">
                            <% if(pelicula[0].protagonistas.length > 1) { %>
                                <% for(let i = 1; i < pelicula[0].protagonistas.length; i++) { %>
                                    <div>
                                        <label class="col span-1-of-3" for="protagonistas">&nbsp; </label>
                                        <input class="col span-2-of-3 search-bar" type="text" id="protagonistas" name="protagonistas" required value="<%= pelicula[0].protagonistas[i] %>">
                                    </div>
                                    <% } %>
                                <% } %>

                            
                            <div class="row">
                                <button type="button" class="botonAgregarProtagonista btn2"  button" id="agregar-protagonista">Agregar otro
                                    protagonista</button>
                            </div>
                        </div>

                        <div class="url row">
                            <label class="col span-1-of-3" for="img">Url de imagen:</label>
                            <input class="col span-2-of-3 search-bar" type="img" id="img" name="img" value="<%= pelicula[0].img %>">
                        </div>
                        <div class="flex">
                            <button class="btn2 verde" type="submit">Guardar cambios</button>
                        </div>
                    </form>
            </div>

    </section>






    <script>
    const agregarProtagonista = document.getElementById("agregar-protagonista");
agregarProtagonista.addEventListener("click", () => {
    document.getElementById('agregar-protagonista').insertAdjacentHTML('beforebegin', `
     <div class="protBorrar row">
     <label class="col span-1-of-3 for="protagonistas">&nbsp;</label>
     <input class="col span-2-of-3 type="text" id="protagonistas" name="protagonistas">
 </div>
     `);
});
    </script>
</body>

</html>